.border-red {
    border: 2px solid red !important;
}

.border-blue {
    border: 2px solid blue !important;
}

:root{
    /*colors*/
    --self-primary-color: #0d69ab; 
    --self-secondary-color: #69a944;
    --self-tertiary-color: #1384d6;
    --self-white-color: #FFFFFF;
}

nav {
    background-color: var(--self-primary-color) !important;
}

.btn {
    background-color: var(--self-secondary-color) !important;
}

.hero__info {
    height: 45%;
}

.hero__container {
    height: 80vh;
}

.hero__info span {
    display: block;
    border-radius: 4px;
    background-color: var(--self-secondary-color);
}

.card__ejes {
    height: 10.5rem;
    width: 10.5rem;
    background-color: var(--self-primary-color) !important;
}

@media only screen and (min-width: 768px) {

    .hero__info::before {
        content: url('../assets/images/left-icon.svg');
        position: relative;
        left: -5rem;
    }
    
    .hero__info::after {
        content: url('../assets/images/right-icon.svg');
        position: relative;
        right: -5rem;
    }
}

@media only screen and (min-width: 992px) {

    .hero__container {
        height: 120vh;
    }
}

.hero-image__container {
    height: 55%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}