.border-red {
    border: 2px solid red !important;
}

.border-blue {
    border: 2px solid blue !important;
}

:root{
    /*colors*/
    --self-primary-color: #0d69ab; 
    --self-secondary-color: #69a944;
    --self-tertiary-color: #1384d6;
    --self-white-color: #FFFFFF;
    /*font-sizes*/
    --self-main-title: 4rem;
    --self-section-title: 3rem;
    --self-main-paragraph: 1.5rem;
    --self-small-paragraph: 1.125rem;
}

nav {
    background-color: var(--self-primary-color) !important;
}

.btn {
    background-color: var(--self-secondary-color) !important;
}

.hero__container {
    height: 100vh;
}

.hero__info {
    height: 60%;
}

.hero__info span {
    display: block;
    border-radius: 4px;
    background-color: var(--self-secondary-color);
}

@media only screen and (min-width: 768px) {

    .hero__info::before {
        content: url('../assets/images/left-icon.svg');
        position: relative;
        left: -5rem;
    }
    
    .hero__info::after {
        content: url('../assets/images/right-icon.svg');
        position: relative;
        right: -5rem;
    }
}

.hero-image__container {
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
}